*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #131619;
}

.container {
    color: white;
    padding: 10px;
    width: 250px;
    background-color: #181C21;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 18px;
}