@font-face {
    font-family: "ConcertOne";
    src: url("fonts/ConcertOne-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #131619;
    color: white;
}

.header__main-info {
    border: 1px solid white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    font-family: "ConcertOne", sans-serif;

    /* Решил в этом элементе сделать flex, где как раз подходит свойство space-between */
    /* Исходя из макета проекта */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tutorial-info__wrapper {
    width: 20vw;
    height: 120px;
    border: 1px solid white;

    text-transform: uppercase;
    font-size: 40px;
    /* display: flex для центрирования текста относительно родителя. Умнее пока что не знаю способа :/ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.results-make-pred__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    height: 150px;
    border: 1px solid white;
}

.results {
    width: 80%;
    height: 30%;
    border: 1px solid white;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-size: 40px;
}

.make-prediction-text-in-header {
    border: 1px solid white;
    border-bottom: 4px solid white;
    height: 50%;
    text-align: center;
    font-size: 46px;
}

.header__current_lot-info {
    width: 80%;
    height: 130px;
    margin-inline: auto;
    margin-bottom: 10px;

    /* Как и раньше, flex для центрирования текста внутри родителя. */
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid white;
    border-top: 4px solid white;
    border-radius: 10px;

    font-size: 30px;
    font-family: "ConcertOne", sans-serif;
}